.header{
    background-color: darksalmon;
    height: 10vh;
}

.navbar-brand{
    display: inline-block;
    padding: 0.3em 2em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-left: 90px;
    margin-top: 15px;
}
  
.navbar-brand{
    background: white;
    color:black;
}